.h5_componment{
	position: absolute;
}

.h5_componment_polyline canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.h5_componment_polyline .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    transform:scale(.8);
    transition:all 1s 1.5s;
    opacity: 0;
}

.h5_componment_polyline_onload .text{
    opacity: 1;
}
.h5_componment_polyline_onleave .text{
    opacity: 0;
}